.quarto-title-meta {
  display: flex;
  justify-content: space-between;
}

.quarto-title-meta-author,
.quarto-title-meta-affiliation {
  flex: 1;
}

.navbar-brand img {
  height: 250px !important; /* zmień np. na 100px, jeśli chcesz jeszcze większe */
}
